.navbar {
  background-color: rgb(190, 160, 114);
  height: 2.5em;
  position: -webkit-sticky;
  position: sticky;
}

.navbar ul {
  display: flex;
  padding: 0.5em;
  list-style: none;
  justify-content: center;
  gap: 0.5em;
}

.navbar a {
  color: #454242;
  text-decoration: none;
  font-size: clamp(1rem, 2.2vh, 1.5rem);
  font-weight: bold;
  padding: 15px;
}

.navbar a:hover {
  color: #fff;
}
