* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  color: #555555;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* same as above
  font: normal 16px Verdana, Geneva, Tahoma, sans-serif;
  */
  margin: 0;
}
