#showcase {
    /* width: 100%;
    height: 100%; */
    /* margin: 0px; */
    /* object-fit: cover; */
    /* background-color: aqua; */
    background-image: url("../../assets/pexels-monstera-7412053.jpg");
    /* background-position: 35% 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.card_wrapper {
    height: 275px;
    box-sizing: border-box;
    background-color: #817a12;
    background: -webkit-radial-gradient(10);
    width: 20em;
    margin: 0.5rem;
    padding-bottom: 1em;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #c5c5c5;
    border-radius: 10px;
}

.card_wrapper a {
    text-decoration: none;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.header {
    background-color: rgba(128, 98, 0, 0.795);
    color: #fff;
    min-height: 60px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    text-align: center;
}

.header h1 {
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    line-height: 1.2;
    align-content: center;
}

.actions {
    display: flex;
    flex-direction: row;
    margin: 15px auto;
    padding: 15px;
    width: max-content;
    height: 5px;
    align-items: center;    
}

.reloadBtn {
    background-color: green;
    color: #fff;
    font-weight: 1000;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.reloadBtn:hover {
    background: red;
    color: #333;
    transition: all 2000ms ease;
}

@media(max-width: 600px){

}
