* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_page {
  height: auto;
  object-fit: cover;
  background-image: url("../../assets/pexels-nataliya-vaitkevich-7235894-1280x583.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

fieldset {
  border: none;
}

.container_box {
  max-width: 800px;
  margin-inline: auto;
  display: flex;
  gap: 0.1em;
  flex-flow: column nowrap;
  align-content: center;
  text-align: center;
  margin-top: 10px;
}

.form_container {
  background-color: rgba(128, 98, 0, 0.795);
  border: 2px solid rgb(202, 202, 60);
  box-shadow: 0 2px 20px rgb(202, 202, 60);
  border-radius: 15px;
  color: rgba(46, 36, 4);
  font-weight: bolder;
  width: auto;
  max-width: 1200px;
  height: auto;
}

.form_container h1 {
  width: inherit;
  font-size: clamp(0.75em, 1.5rem, 2rem);
  text-shadow: 2px 2px 20px rgb(202, 202, 60);
  padding: 0.5rem;
  letter-spacing: 0.02em;
  font-weight: bolder;
}

.form_button {
  background-color: rgba(46, 36, 4, 0.795);
  text-transform: uppercase;
  font-size: clamp(0.75em, 1rem, 1.25rem);
  color: #fff;
  text-shadow: 2px 2px #555;
  font-weight: bold;
  padding: 0.5em;
  border: none;
  border-radius: 10px;
}

.form_button:hover {
  background: #fff;
  color: #333;
  transition: all 2000ms ease;
}

.form_container label {
  display: block;
  padding: 0 0 0 1em;
  margin: 5px 0 5px 0;
  font-weight: 600;
  font-size: clamp(0.75em, 1rem, 1.25rem);
  text-align: center;
  text-shadow: 2px 2px 20px #fff;
}

.form_container select {
  font-size: clamp(0.75em, 1rem, 1.25rem);
  width: 95%;
  background-color: rgb(182, 182, 35);
  color: #333;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #555;
}

/* .form_container input {
  display: block;
  width: 95%;
  margin-left: 2.5%;
  color: #333;
  font-weight: bold;
  font-size: clamp(0.75em, 1rem, 1.25rem);
  background-color: rgb(182, 182, 35);
  padding: 0.5em;
  border-radius: 10px;
  border: 2px solid #555;
} */

.activity {
  background-color: rgb(182, 182, 35);
  font-size: clamp(0.75em, 1rem, 1.25rem);
  display: block;
  height: 7em;
  width: 95%;
  resize: none;
  margin-left: 2.5%;
  color: #333;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 10px;
  overflow-wrap: break-word;
  border: 2px solid #555;
  overflow-y: hidden;
}

.duration {
  background-color: rgb(182, 182, 35);
  font-size: clamp(0.75em, 1rem, 1.25rem);
  display: block;
  height: 2.3em;
  width: 95%;
  resize: none;
  margin-left: 2.5%;
  color: #333;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 10px;
  overflow-wrap: break-word;
  border: 2px solid #555;
  overflow-y: hidden;
}

.description {
  background-color: rgb(182, 182, 35);
  font-size: clamp(0.75em, 1rem, 1.25rem);
  display: block;
  height: 11em;
  width: 95%;
  resize: none;
  margin-left: 2.5%;
  color: #333;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 10px;
  overflow-wrap: break-word;
  border: 2px solid #555;
  overflow-y: hidden;
}

.buttons {
  display: inline-block;
  text-align: center;
  width: 95%;
  margin-left: 2.5%;
  text-transform: uppercase;
}

.buttons button {
  background-color: rgba(46, 36, 4, 0.795);
  color: #fff;
  text-shadow: 2px 2px #555;
  font-size: clamp(0.75em, 1rem, 1.25rem);
  font-weight: bold;
  margin: 1em;
  padding: 0.5em;
  border: none;
  width: 7.5em;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

.buttons button:hover {
  background: #fff;
  color: #333;
  transition: all 2000ms ease;
}

.selected {
  background-color: rgba(128, 98, 0, 0.795);
  border: 2px solid rgb(202, 202, 60);
  box-shadow: 0 2px 20px rgb(202, 202, 60);
  border-radius: 15px;
  color: rgba(46, 36, 4);
  font-size: clamp(0.75em, 1rem, 1.25rem);
  min-width: 320px;
  height: auto;
  /*   margin-top: 25px; */
  overflow-wrap: break-word;
  padding: 1em 1em 1em 1em;
  margin: 0 0 25px 0;
  text-align: center;
}

.selected label {
  font-weight: bold;
  text-shadow: 2px 2px 20px #fff;
}

.selected hr {
  margin: 5px 0 5px 0;
}

.selected_wrap {
  display: inline-flex;
  flex-direction: row-reverse;
  padding: 0.25em;
}

.selected_p {
  width: max-content;
  padding-bottom: 5px;
}

.selected_btn {
  margin-right: 5px;
  margin-top: 2.5px;
  text-align: center;
  height: 15px;
  width: 15px;
  border: none;
  font-weight: bolder;
  background-color: rgba(46, 36, 4, 0.795);
  color: #fff;
  text-shadow: 2px 2px #555;
}

.selected_btn:hover {
  background: red;
  color: #333;
  transition: all 2000ms ease;
}

.selected_error {
  background-color: rgba(128, 98, 0, 0.795);
  color: rgba(46, 36, 4);
  font-size: 12px;
  font-weight: bolder;
  width: max-content;
  padding: 5px;
  border: none;
  border-radius: 10px;
  margin-left: 15px;
}

@media screen and (min-width: 576px) {
  .form_container h1 {
    font-size: clamp(1.5em, 1.75rem, 2rem);
  }
}
