.footerContainer {
  width: 100%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  position: fixed;
  bottom: 0;
  /*   z-index: 100; */
  color: #333;
  font-weight: bold;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
}

.footerIcon {
  height: 1.4em;
  margin: 0 10px 0 10px;
}

.footerIcon:hover {
  transform: scale(1.1);
}

.logo {
  height: 1.7em;
  margin-left: 2px;
}

.logo:hover {
  transform: scale(1.1);
}

.separator {
  height: 2.25em;
  width: 1px;
  margin: 0 1em;
  background-color: #000;
  border-style: hidden;
}

@media screen and (min-width: 768px) {
  .separator {
    height: 3em;
    margin: 0 2em;
  }
}
